<html>
<head>
</head>
<body>
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    <ul>
        {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div>
    <p>Logged in as {{ username }}</p>
    {% if picture %}
    <img src={{ picture }} style="width: 75px; height: 75px;"/>
    {% endif %}
    <p><a href="/gdisconnect">log out</a></p>
  </div>

  <h1>Categories And Stuff</h1>
  <h2>Categories</h2>
  <p>
    {% for i in categories %}
    <a href='{{ url_for('showCategory', category_name=i.name) }}'>{{ i.name }}</a>
    <br/>
    {% endfor %}
  </p>
  <p><a href='{{ url_for('createNewCategory') }}'>Add Category</a></p>
  <h2>Stuff</h2>
  <p>
    {% for i in stuff %}
    <a href='{{ url_for('showStuff', stuff_id=i.id) }}'>{{ i.name }}</a> <em>({{ i.category_name }})</em>
    <br/>
    {% endfor %}
  </p>
  <p><a href='{{ url_for('createNewStuff') }}'>Add Stuff</a></p>
</body>
</html>
