<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=start"></script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    <ul>
        {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div id="signinButton">
    <span class="g-signin"
          data-scope="openid email"
          data-clientid="313570040368-tb3390a1v7eesmfrclrog4v4d6njfsr4.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
  </div>

  <h1>Categories And Stuff</h1>
  <h2>Categories</h2>
  {% for i in categories %}
  <a href='{{ url_for('showCategory', category_name=i.name) }}'>{{ i.name }}</a>
  <br/>
  {% endfor %}
  <h2>Stuff</h2>
  {% for i in stuff %}
  <a href='{{ url_for('showStuff', stuff_id=i.id) }}'>{{ i.name }}</a> <em>({{ i.category_name }})</em>
  <br/>
  {% endfor %}

  <script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
              window.location.href = "/";
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }
  </script>
</body>
</html>
