<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:black">Stuff App</a>
    </div>
    <div class="navbar-right">
      <div id="signinButton">
        <span class="g-signin"
              data-scope="openid email"
              data-clientid="313570040368-tb3390a1v7eesmfrclrog4v4d6njfsr4.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
        </span>
      </div>
    </div>
  </div>
</nav>
