{% extends "main.html" %}
{% block content %}
{% include "publicnav.html" %}
{% include "flash.html" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-header">Categories And Stuff</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="subheader-header">Categories</h4>
        {% for i in categories %}
        <a href='{{ url_for('showCategory', category_name=i.name) }}'>{{ i.name }}</a>
        <br/>
        {% endfor %}
      </div>
      <div class="col-md-8">
        <h4 class="subheader-header">Stuff</h4>
        {% for i in stuff %}
        <a href='{{ url_for('showStuff', stuff_id=i.id) }}'>{{ i.name }}</a> <em>({{ i.category_name }})</em>
        <br/>
        {% endfor %}
      </div>
    </div>
  </div>

  <script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
              window.location.href = "/";
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }
  </script>
{% endblock %}
